header
{
    position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 100px;
background: lightblue;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;

}
body{

    background-image: url(/img/pexels-pixabay-268533.jpg);
}

section {
padding: 3%;
background-color: rgba(255, 255, 255, 0.295);
font-family: Verdana, Geneva, Tahoma, sans-serif;
opacity: 70%;

}

p{
    
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.CONTEUDO {
    text-align: justify;

}